# Configuration for private npm package dependencies
# For more information on using private registries with Edge Functions, see:
# https://supabase.com/docs/guides/functions/import-maps#importing-from-private-registries

# Twilio Configuration
REACT_APP_TWILIO_ACCOUNT_SID=ACd7314c1acf5215232164b4575bb450e3
REACT_APP_TWILIO_AUTH_TOKEN=1ef7d5f3a7a17a64be66f04f87612401
REACT_APP_TWILIO_WHATSAPP_NUMBER=+14155238886  # Your Twilio WhatsApp number

# EmailJS Configuration
REACT_APP_EMAILJS_SERVICE_ID=service_n9a3k6e
REACT_APP_EMAILJS_TEMPLATE_ID=template_c8ig14r
REACT_APP_EMAILJS_PUBLIC_KEY=AHvm1NQh5ANq_mT4D

# Supabase Configuration
REACT_APP_SUPABASE_URL=https://nylqihwnftbmkxuysgko.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im55bHFpaHduZnRibWt4dXlzZ2tvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU4NzY4MjAsImV4cCI6MjA3MTQ1MjgyMH0.s6YLFNTUJowCdQnxMwdwpvoC-4PNx80DnVG2Tw0Yk_c